@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");

:root {
  --bg-light-color: #efefef;
  --bg-text-border: #c4c4c4;
  --shadow-color: #666;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Titillium Web", sans-serif;
}
